:root {
    --bg-clr1: #000000;
    --text-clr: #ffffff;
    --text-clr2: #5c5c5c;
    --link-clr: #ff7b00;
    --link-clr-light: #ffd000;
    --link-bg-clr: #ffa60042;
    --link-bg-clr-light: #ffa60013;
}