:root {
    --bg-clr1: #000000;
    --text-clr1: #ffffff;
}
.list-item-container {
    border: solid var(--text-clr1);
}
.debates-table {
    border: 2px solid var(--text-clr1);
}
.debates-table th, .debates-table td {
    border-left: 1px solid var(--text-clr1);
}
.debates-table th {
    border-bottom: 1px solid var(--text-clr1);
}
/* .nav-logo img {
    filter: invert(100);
} */