@font-face {
    font-family: 'LatinModern';
    src: url('lm-regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Palatino';
    src: url(pala.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --text-clr2: #5c5c5c;
    --link-clr: #ff7b00;
    --link-clr-light: #ffd000;
    --link-bg-clr: #ffa60083;
    --link-bg-clr-light: #ffa60049;
}

::selection {
    background-color: var(--link-bg-clr);
}

* {
    padding: 0;
    margin: 0;
}
html {
    background-color: var(--bg-clr1);
    color: var(--text-clr1);
}
body {
    font-family: 'Palatino';
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.2em;
    font-size: 17px;
}
.content {
    max-width: 95vw;
}
a {
    color: var(--link-clr);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: var(--link-clr-light);
}

/* NAV */

nav {
    margin-top: 1em;
}
.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links-utils {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav-logo img {
    width: 70px;
}
.nav-link {
    padding-left: .6em;
    font-weight: 600;
}
.nav-links {
    display: flex;
    flex-direction: row;
}
.nav-utils {
    display: flex;
    flex-direction: row;
    align-items: end;
}
#theme-toggle {
    color: var(--link-clr);
    font-size: 18px;
    border: none;
    background-color: var(--bg-clr1);
    margin-left: .6em;
}
#theme-toggle:hover {
    cursor: pointer;
    color: var(--link-clr-light);
}
#theme-toggle:active {
    background-color: var(--link-bg-clr);
}
.nav-link[href *= "about"] {
    display: block;
    width: 7ch;
}
nav hr {
    height: 1px;
    border: none;
    background-color: var(--text-clr1);
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 1em;
    color: var(--text-clr2);
}
.pattern img {
    max-width: 400px;
    width: 90vw;
}
.pattern {
    padding: 10px;
}

/* HEADER */

header {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    padding: 1em .4em;
}
#home-header {
    text-transform: uppercase;
}

/* MAIN */

main {
    padding-top: 1em;
}

h1 {
    padding: 1em 0 .2em 0;
}

p {
    padding-bottom: .4em;
}

h2, h3 {
    padding-bottom: .4em;
}

p:last-child {
    padding-bottom: 0;
}

/* AUTOLIST */

#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.list-item-container {
    width: 100%;
    max-width: 300px;
    color: var(--text-clr1);
    text-decoration: none;
    padding: .7em;
    border: solid var(--text-clr1);
    margin: 1em;
}
.list-item-container:hover {
    background-color: var(--link-bg-clr);
    text-decoration: none;
}
.list-item-container:active {
    background-color: var(--link-bg-clr-light);
    color: var(--text-clr1);
}
.list-item-container h3, .list-item-container h2 {
    color: var(--link-clr);
}
.debates-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 2px solid var(--text-clr1);
}
.debates-table th, .debates-table td {
    padding: 10px;
    border-left: 1px solid var(--text-clr1);
}
.debates-table th {
    border-bottom: 1px solid var(--text-clr1);
    background-color: var(--link-bg-clr);
}
.debates-table thead {
    font-weight: 600;
}

/* SINGLE */

.single-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    color: var(--text-clr2);
}
h1:nth-child(1) {
    padding-top: 0;
}
.debate-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-clr2);
}
.info-table {
    border: 2px solid var(--text-clr2);
    text-align: left;
}
.info-table th, .info-table td {
    padding: 5px;
}

/* SCALING */

@media (max-width:435px) {
    nav {
        font-size: 12px;
    }
    body {
        font-size: 15px;
    }
    #theme-toggle {
        font-size: 15px;
    }
}
@media (max-width:390px) {
    .debates-table thead tr th:nth-child(2), .debates-table thead tr th:nth-child(3), .debates-table thead tr th:nth-child(5), .debates-table tbody tr td:nth-child(2), .debates-table tbody tr td:nth-child(3), .debates-table tbody tr td:nth-child(5) {
        display: none;
    }
}