/* General */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --black: #080708;
    --white: #F7F8F7;
    --red: #DA3838;
    --light-pink: #F2B1B1;
    --blue: #25C7C7;
    --light-blue: #D3F4F4;
    --yellow: #F1D302;
    --grey: #dbdbdb;
    --dark-grey: #ababab;
    --darker-grey: #8a8989;
    --darker-grey2: #989898;
}

*{
    padding: 0;
    margin: 0;
}

/* html */

html {
    font-family: 'DM+Sans', sans-serif;
    color: var(--black);
    background-color: var(--white);
}
::selection {
    color: var(--white);
    background: var(--red);
}
::-webkit-scrollbar {
    width: 14px
}
::-webkit-scrollbar-track {
    background: var(--black);
}
::-webkit-scrollbar-thumb {
    background: var(--dark-grey);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
}

/* Body */

body {
    width: 90vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Home-links */

main h1 {
    font-size: 40px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.home-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.home-links li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}
.home-link {
    border: solid;
    border-color: var(--black);
    border-width: 4px;
    border-radius: 20px;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 1em;
}
.home-link:hover {
    background-color: var(--grey);
}
.home-link:active {
    background-color: var(--dark-grey);
}
.home-link-title {
    font-size: 30px;
    padding: 10px 10px 0px 10px;
}
.home-link-description {
    width: fit-content;
    padding: 5px 10px 10px 10px;
    font-size: 18px;
}

/* Header */

.site-title {
    font-size: 90px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.site-description {
    font-size: 18px;
    text-decoration: underline;
    padding-right: 20px;
}

/* Footer */

footer {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--dark-grey);
}
footer a {
    color: var(--dark-grey);
    text-decoration: underline;
}
footer a:hover {
    color: var(--darker-grey);
}
footer a:active {
    color: var(--darker-grey2);
}
hr {
    border: none;
    background-color: var(--dark-grey);
    height: 2px;
    margin-bottom: 20px;
    width: 30vw;
}

/* 404 */

#err {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#err header {
    font-size: 30px;
}
#err main {
    font-size: 18px;
}
#err a {
    color: var(--red);
    text-decoration: none;
}
#err a:hover {
    text-decoration: underline;
}
#err a:active {
    color: var(--light-pink);
}

/* Querries */

@media (max-width:760px) {
    .grid-box {
        display: flex;
        flex-direction: column;
    }
    main h1 {
        padding-top: 40px;
    }
    body {
        text-align: center;
    }
    .home-links {
        align-items: center;
    }
    .site-title {
        font-size: 70px;
    }
}