#home-now .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3em;
}
#home-now img {
    width: 200px;
    border-radius: 1em;
    border: solid 2px var(--accent2);
}
.project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    align-items: stretch;
}
.project-card {
    width: 90%;
    max-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--light2);
    color: var(--dark1);
    padding: 1.5em;
    border-radius: .4em;
    box-shadow: 0 0 5px 5px #00000018;
}
.project-card img {
    width: 100%;
    height: auto;
    border-radius: .4em;
    margin-bottom: 1em;
}
.project-card a {
    font-size: var(--h4-size);
    margin-bottom: .3em;
}
.project-card p {
    margin-bottom: 0;
    color: var(--light4);
    font-style: italic;
}


.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
}
.social-link {
    color: var(--accent1);
    font-size: 60px;
    transition: var(--transition);
}
.social-link:hover {
    color: var(--accent2);
}
.social-link:active {
    color: var(--accent3);
}

@media (max-width:450px) {
    #home-now .section-content {
        flex-direction: column;
    }
}