<!DOCTYPE html>
<html lang="en">
    {{partial "ads-head.html" .}}
    <body>
        <div class="content">
            {{partial "ads-nav.html" .}}
            <div class="single-info">
                <span>{{.Params.author}}</span>
                <span>{{.Date | time.Format "2. 1. 2006"}}</span>
            </div>
            <header>
                {{.Title}}
            </header>
            <main>
                {{.Content}}
            </main>
            {{partial "ads-footer.html" .}}
        </div>
    </body>
</html>