<!DOCTYPE html>
<html lang="en">
    {{partial "ads-head.html" .}}
    <body>
        <div class="content">
        {{partial "ads-nav.html" .}}
        <header id="home-header">
            Autonomní debatní spolek
        </header>
        <main>
            {{.Content}}
            <h1>Nejnovější debata</h1>
            <div id="list">
                {{$debates := where .Site.Pages ".Params.debate" "==" true}}
                {{$newest := $debates.ByDate.Reverse | first 1}}
                {{with $newest}}
                    {{range first 1 .}}
                        <a class="list-item-container" href="{{.RelPermalink}}">
                            <h2>{{.Title}}</h2>
                            <p>{{.Date | time.Format "2. 1. 2006"}} | {{.Params.time}} | {{.Params.place}}</p>
                        </a>
                    {{end}}
                {{end}}
            </div>
            <h1>Aktuality</h1>
            <div id="list">
                {{$newsPages := where .Site.Pages ".Params.news" "==" true}}
                {{$sortedPages := slice}}
                {{range sort $newsPages ".Date"}}
                    {{if lt (len $sortedPages) 6}}
                        {{$sortedPages = $sortedPages | append .}}
                    {{end}}
                {{end}}
                {{range $sortedPages}}
                    <a class="list-item-container" href="{{.RelPermalink}}">
                        <h3>{{.Title}}</h3>
                        <p>{{.Params.show}}</p>
                        <p><em>{{.Date | time.Format "2. 1. 2006"}}</em></p>
                    </a>
                {{end}}
            </div>
        </main>
        {{partial "ads-footer.html" .}}
        </div>
    </body>
</html>