<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        {{partial "head.html" .}}
        {{partial "def-style.html" .}}
    </head>
    <body>
        <div class="grid-box">
            <header>
                <h1 class="site-title">{{.Site.Title}}</h1>
                <p class="site-description">Subdomain for personal and school projects and testing.</p>
            </header>
            <main>
                {{.Content}}
            </main>
        </div>
        <footer>
            <hr>
            &copy;{{dateFormat "2006" now}} {{.Site.Title}} <br>
            <a href="https://pgersl.xyz/" target="_blank">pgersl.xyz</a>
        </footer>
    </body>
</html>