<nav id="ads-nav">
    <div class="nav-content">
        <div class="nav-logo">
            <a href="/ads/">
                <img src="/imgs/ads/main.png">
            </a>
        </div>
        <div class="nav-links-container">
            <div class="nav-links">
                <a class="nav-link" href="/ads/aktuality/">Aktuality</a>
                <a class="nav-link" href="/ads/debaty/">Debaty</a>
                <a class="nav-link" href="/ads/about/">O ADS</a>
                <a class="nav-link" href="/ads/kontakt/">Kontakt</a>
            </div>
        </div>
    </div>
    <hr class="nav-line">
</nav>