{{if .Params.newsListing}}
    {{range .Pages}}
        <a class="list-item-container" href="{{.RelPermalink}}">
            <div class="list-item-container-content">
                <h3>{{.Title}}</h3>
                <p class="show-par">{{.Params.show}}</p>
                <p><em>{{.Date | time.Format "2. 1. 2006"}}</em></p>
            </div>
        </a>
    {{end}}
{{end}}

{{if .Params.debatesListing}}
    <table class="debates-table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Čas</th>
                <th>Místo</th>
                <th>Debata</th>
                <th>Hosté</th>
            </tr>
        </thead>
        <tbody>
            {{range .Pages}}
                <tr>
                    <td>{{.Date | time.Format "2. 1. 2006"}}</td>
                    <td>{{.Params.time}}</td>
                    <td>{{.Params.place}}</td>
                    <td><strong><a class="debates-link" href="{{.RelPermalink}}">{{.Title}}</a></strong></td>
                    <td>{{.Params.guests}}</td>
                </tr>
            {{end}}
        </tbody>
    </table>
{{end}}