<nav>
    <div class="nav-img-container">
        <a class="nav-img" href="/exhibition/">
            <img src="/imgs/exhibition/main2.png">
        </a>
    </div>
    <a href="#" class="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="nav-links-container">
        <ul class="nav-links">
            <li class="nav-link-container">
                <a class="nav-link" href="/exhibition/o-vystave/">O výstavě</a>
            </li>
            <li class="nav-link-container">
                <a class="nav-link" href="/exhibition/budovy/">Budovy</a>
            </li>
            <li class="nav-link-container">
                <a class="nav-link" href="/exhibition/program/">Doprovodný program</a>
            </li>
            <li class="nav-link-container">
                <a class="nav-link" href="/exhibition/kontakt">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>